html
  head
    link(
      rel='stylesheet'
      href='/styles/gacha.css'
    )
  body
    .gacha-result
      if chroma
        .chroma

      .card-container
        each card in cards
          .card(class=`star-${card.student.rarity}`)
            if card.isPickup
              img.badge.pickup(src='/images/gacha/pickup.png')
            .icon-container
              img.icon(src=`data:image/webp;base64,${card.icon}`)
            .star-container
              - for (let i = 0; i < card.student.rarity; i++)
                img.star(src='/images/gacha/star.png')

      .shadow-container
        each card in cards
          .shadow-wrapper
            .shadow(class=`shadow-${card.student.rarity}`)

      if points
        .points-container
          img.points-icon(src='/images/gacha/points-icon.png')
          .points
            .points-text Recruitment Points
            .points-count.point= points
